certifi==2020.12.5
cffi @ file:///C:/ci/cffi_1606255208697/work
click==7.1.2
cryptography @ file:///C:/ci/cryptography_1607637849569/work
docopt==0.6.2
Flask==1.1.2
Flask-Cors==3.0.10
Flask-Project==0.1.1
itsdangerous==1.1.0
jellyfish==0.8.2
Jinja2==2.11.2
MarkupSafe==1.1.1
numpy==1.19.5
pandas==1.2.0
-e git+https://github.com/KYSpring/apollo_flask.git@d8d524c1ecec351b3c96a4b4a2ed273859eefd16#egg=private_lending_flask
pycparser @ file:///tmp/build/80754af9/pycparser_1594388511720/work
PyMySQL @ file:///C:/ci/pymysql_1610115159702/work
python-dateutil==2.8.1
pytz==2020.5
six @ file:///C:/ci/six_1605187374963/work
Werkzeug==1.0.1
wincertstore==0.2
xlrd==2.0.1
